
body {
    overflow-x: hidden;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

#map {
    width: 100%;
    height: 70vh;
    min-height: 250px;
    max-height: 600px;
    touch-action: none;
}
